!!!
%html
  %head

    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload"
    = stylesheet_pack_tag "application", media: "all", "data-turbolinks-track": "reload"
    = javascript_pack_tag "application", "data-turbolinks-track": "reload"

    = javascript_pack_tag "cursor"

    = auto_discovery_link_tag :rss, blogs_url(:format => :rss)

  %body
    .cursor

    = render 'layouts/header'

    = yield