!!!
%html
  %head

    %link{href: "https://fonts.gstatic.com", rel: "preconnect"}
    %link{href: "https://fonts.googleapis.com/css2?family=Karla:wght@200;300&display=swap", rel: "stylesheet"}

    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload"
    = stylesheet_pack_tag "application", media: "all", "data-turbolinks-track": "reload"
    = javascript_pack_tag "application", "data-turbolinks-track": "reload"

    = javascript_pack_tag "cursor"

    = auto_discovery_link_tag :rss, blogs_url(:format => :rss)

  %body
    .cursor

    = render 'layouts/header'

    = yield